@model IEnumerable<Category>


@{
    Layout = "_Layout";
}

<body style="height: 100%">
    <div style="box-shadow:-1em 0 0.4em lightgrey; background-color: white;margin-top: 20%; margin-left: 10%; margin-right: 10%; height: 80%">
        @foreach (var p in @Model)
        {
            <div class="row" style="margin-top: 5%; margin-left: 2%;width: 96%; border: solid lightgrey;">
                <div class="col-3">
                    <center>
                        <h2>
                            @using (Html.BeginForm("IndexByCategory", "Topic", new {categoryId = @p.Id}, FormMethod.Post))
                            {
                                <a><button type="submit" style="border:none; background:transparent; width: 100%; height: 100% display: block"><p>@p.Name</p></button></a>
                                <i class="icon-user-md" ></i>
                            }
                        </h2>   
                        Forum główne a tematyką prowadzącą jest mx-5.                     
                    </center>
                </div>
                <div class="col-9">
                    @if (@p.Posts.Count() != 0)
                    {
                        <div>                            
                            <p style="position: relative; float: right;">
                                Ostatni wpis
                                @p.Posts.Last().Author.UserName <br>
                                @* @p.Posts.Last().Content.Split().Take(1) *@
                                @p.Posts.Last().Date

                            </p>
                            <p style="position: relative; float: right; margin-right: 10%">
                                ilosc wpisów:
                                @p.Posts.Count()
                            </p>
                        </div>
                        
                    }
                    
                </div>
            </div>            
        }

        
    </div>

    

</body>



